{% extends 'accountManagerBase.html' %}
{% load static %}

{% block content %}
  <div class="main-container">
    <!-- <h1>S'inscrire</h1> -->

    <div class="sub-container">

      <div class="container">

        <form class="sign-form"  action="" method="POST" >
          {% csrf_token %}
          <h2>{{ title }}</h2>
          <p>{{ subtitle }}</p>
          {{ form.as_p }}

          <div class="gap"></div>
          <div class="btn-form">
            <button type="submit" onclick="scrollLeftPerso()">Suivant</button>
          </div>

        </form>


      </div>
    </div>
  </div>

{% endblock %}