{% load static %}
<footer>
        <div class="first-part-footer">
            <img class="logo-footer" width="120px" src="{% static 'icons/Logo-gris.PNG' %}" alt="">
            <span>Exprimez votre style avec notre sélection tendance de vêtements.</span>
            <div class="reseaux-footer">
                <a href=""><img width="40px" title="Facebook" src="{% static 'icons/facebook-icon.png' %}" alt=""></a>
                <a href=""><img width="40px" title="instagram" src="{% static 'icons/insta-icon.png' %}" alt=""></a>
                <a href=""><img width="40px" title="twitter" src="{% static 'icons/twitter-icon.png' %}" alt=""></a>

            </div>
        </div>
        <div class="part-footer">
            <ul>
                <h5>LIENS</h5>
                <li><a href="{% url 'index' %}">Accueil</a></li>
                <li><a href="{% url 'boutique' %}">Boutique</a></li>
                <li><a href="">A propos</a></li>
                <li><a href="">Contactez-nous</a></li>
            </ul>
        </div>
        <div class="part-footer">
            <ul>
                <h5>NOS PROSUITS</h5>
                <li><a href="#">Lien</a></li>
                <li><a href="#">Lien</a></li>
                <li><a href="#">Lien</a></li>
                <li><a href="#">Lien</a></li>

            </ul>
        </div>
        <div class="part-footer">
            <ul>
                <h5>CONTACTS</h5>
                  <li><img src="" alt=""><span>0555 18 28 10</span></li>
            <li><img src="" alt=""><span>luxeconfort@gmail.com</span></li>
            <li><img src="" alt=""><span>Université Abderrahmane <br>Mira de Béjaïa </span></li>
            </ul>
        </div>
    </footer>
